/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//action-icons (move,delete,indent,unIndent)
$iconColor: lightgray;
$borderColor: gray;
$iconHoverColor: rgb(212, 91, 54);

//button(add-standard-button)
$buttonBackgroundColor: royalBlue;
$buttonTextColor: white;

