<div>
  <ng-template #templateRef let-node let-level="level">
    <div
      class="input-root">
      <div class="input-wrapper" cdkDragBoundary=".root"
        cdkDragLockAxis="y">
        <div
          class="action-buttons-box">
          <div class="action-button-wrapper" matTooltip="Move"
            matTooltipPosition="above" matTooltipClass="move-tooltip"
            cdkDragHandle>
            <button class="action-button-style">
              <fa-icon [icon]="faArrowsAltIcon" class="move action-button">
              </fa-icon>
            </button>
          </div>
          <div class="action-button-wrapper" matTooltip="UnIndent"
            matTooltipPosition="above">
            <button class="action-button-style">
              <fa-icon [icon]="faArrowLeftIcon" class="un-indent action-button"
                (click)="handleUnIndent(node)"></fa-icon>
            </button>
          </div>
          <div class="action-button-wrapper" matTooltip="Indent"
            matTooltipPosition="above">
            <button class="action-button-style">
              <fa-icon [icon]="faArrowRightIcon" class="indent action-button"
                (click)="handleIndent(node)"></fa-icon>
            </button>
          </div>
          <div class="action-button-wrapper" matTooltip="Delete"
            matTooltipPosition="above">
            <button class="action-button-style">
              <fa-icon [icon]="faArrowTrashAltIcon" class="delete action-button"
                (click)="handleDelete(node)"></fa-icon>
            </button>
          </div>
        </div>
        <div class="input-text-wrapper">
          <input
            type="text"
            [style]="inputStyles[level]"
            class="input-text"
            [(ngModel)]="node.name"
            [style.padding-left]="level * 35 + 'px'">
        </div>
      </div>
    </div>
  </ng-template>
  <div class="root-wrapper">
    <div
      class="root"
      cdkDropList [cdkDropListData]="curriculumObject"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of parsedListWithLevel" cdkDrag>
        <ng-template
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{$implicit: item[0], level:item[1]}">
        </ng-template>
      </div>

    </div>
  </div>
    <app-button buttonName= 'Add course' [buttonStyle]= buttonStyle [onClick]=
      addCourse>
    </app-button>
  <div class="load-and-save-button-wrapper">
    <button class="save-json-button-wrapper">
      <a class="save-json-button" title="Download JSON"
        [href]="downloadJsonHref"
        download="download.json" (click)="handleOnSave()">Save</a></button>
    <input
      style="display: none"
      type="file" (change)="handleOnLoad($event)"
      #fileInput>
    <button class="load-json-button" (click)="fileInput.click()">Load</button>
  </div>
</div>
